# PyCharm
.idea/

*.py[co]
docs/build
dist/
build/
MANIFEST
.coverage
.tox/
.cache/
*.egg-info/
htmlcov/
extras/appengine/bsqlparse
extras/appengine/lib/
extras/py3k/bsqlparse
extras/py3k/tests
extras/py3k/bsqlparse.diff
extras/py3k/tests.diff
coverage.xml
*.class
